@import "../../utilities/global-styles";

.all-properties-page-container {
  position: relative;
  padding: 10vmin 0;

  margin: auto;
  display: grid;
  justify-items: center;
  grid-gap: 15vmin;
}

.all-properties-title {
  @extend %title;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
