@import "../../utilities/global-styles";

.services-header {
  background-image: url("../../assets/jpg/servicesBkg.jpg");
  background-size: cover;
  //   background-position: center;
  height: 50vmin;
  display: flex;
  align-items: center;
  padding: 2vmin;
}

.services-title {
  @extend %title;
  background-color: rgba(255, 255, 255, 0.705);
  border-bottom: 1vmin solid $sebtons-gold;
  padding: 1vmin;
}

.services-note {
  margin: 2vmin auto;
}
