@import "../../utilities/global-styles";

.homepage-about-us-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vmin;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0)),
      url("../../assets/jpg/StLuciaFlag.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.homepage-about-us-title {
  @extend %title;
  margin-top: 10vmin;
}
.homepage-about-us-title-description {
  font-weight: 300;
  width: 90%;
  text-align: center;
  font-size: 4.5vmin;
}

.homepage-about-us-layout-container {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1260px) {
    flex-direction: row;
  }
}
.homepage-about-us-text {
  font-size: 3.75vmin;
  width: 80%;
  margin: 5vmin auto;
  @media screen and (min-width: 1260px) {
    width: 40%;
    margin: auto;
  }
}
.world-map {
  margin: 0 auto;
  width: 80%;
  @media screen and (min-width: 1260px) {
    width: 55%;
    margin: 0;
  }
}
