@import "../../utilities/global-styles";

.footer {
  position: absolute;
  z-index: -1;
  width: 100%;
  background-color: $grey;
  padding: 5vmin 0 2.5vmin 0;
  display: grid;
  justify-content: center;
  grid-template-areas:
    "footerLogo footerLogo"
    "footerNav phoneSocial"
    "footerBar footerBar";
  grid-template-columns: 50% 50%;
  @media screen and(min-width:768px) {
    grid-template-areas:
      "footerNav footerLogo phoneSocial"
      "footerBar footerBar footerBar";
    grid-template-columns: 40% 20% 40%;
  }
}

.footer-logo-container {
  width: 20%;
  grid-area: footerLogo;
  margin: 0 auto;
  @media screen and(min-width:768px) {
    width: 60%;
    margin: auto;
  }
  @media screen and(min-width:992px) {
    width: 50%;
  }
}

.footer-nav-container {
  grid-area: footerNav;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  @media screen and(min-width:992px) {
    justify-self: center;
  }
}

.footer-phone-and-social-container {
  grid-area: phoneSocial;
  justify-self: center;
  align-self: center;

  & > :nth-child(2) {
    margin-top: 2vmin;
    justify-content: flex-start;
  }
}

.footer-bottom-bar {
  grid-area: footerBar;
  padding-top: 3vmin;
  text-align: center;
  font-size: 2vmin;
  & > :first-child {
    padding: 0.5vmin;
    border: 0.5vmin solid transparent;
    transition: all 0.3s ease-in-out;
    &:hover {
      border-bottom: 0.5vmin solid $sebtons-gold;
    }
  }
}
