.sebtons-logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.sebtons-logo-small {
  width: 150%;
  @media screen and(min-width:768px) {
    width: unset;
  }
  @media screen and(min-width:768px) {
    width: 60%;
  }
}

.sebtons-logo-large {
  width: 80%;
  @media screen and(min-width:768px) {
    width: 60%;
  }
  @media screen and(min-width:2250px) {
    width: 80%;
  }
  @media screen and(min-width:3000px) {
    width: 100%;
  }
}
