@import "../../utilities/global-styles";

.phone-number-container {
  display: flex;
  align-items: center;
}

.phone-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 7vmin;
  height: 7vmin;
  border: 1px solid $sebtons-gold;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: $sebtons-gold;
    & .phone-icon {
      fill: white;
    }
  }
}
.phone-icon {
  width: 4vmin;
  height: 4vmin;
  fill: $sebtons-gold;
}

.phone-number-number {
  font-size: 2.5vmin;
  margin-left: 1vmin;
}
