@import "../../utilities/global-styles";

.rental-policy-page-container {
  width: 90%;
  margin: 10vmin auto;
  display: grid;
  justify-items: center;
  grid-gap: 15vmin;
}

.rental-policy-page-title {
  @extend %title;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.rental-policies-container {
  width: 90%;
  @media screen and(min-width:1260px) {
    width: 80%;
  }
}

.policy-text-container {
  margin: 0vmin 0 8vmin 0;
  font-size: 3vmin;
  @media screen and(min-width:1040px) {
    font-size: 2.5vmin;
  }
}
