@import "../../utilities/global-styles";

.statement-container {
  margin: 5vmin 0;
  display: flex;
  @media screen and(min-width: 1260px) {
    margin: 5vmin 0 0 0;
  }
}

.person {
  justify-self: flex-end;
  display: none;
  width: 100%;
  @media screen and(min-width:1260px) {
    display: block;
  }
}

.statements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vmin 0;
  @media screen and(min-width: 992px) {
    width: 80%;
    margin: 10vmin auto;
  }

  @media screen and(min-width: 1260px) {
    margin: 0;
    align-items: flex-end;
  }
}

.statement-card {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statement-icon-svg {
  width: 6.5vmin;
  height: 6.5vmin;
  fill: $sebtons-gold;
  transition: all 0.3s ease-in-out;
}

.statement-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10vmin;
  height: 10vmin;
  border: 1px solid $sebtons-gold;
  transition: all 0.3s ease-in-out;
}

.statement-text {
  font-size: 3.75vmin;
  width: 85%;
  margin-left: 4vmin;
}
