.failed-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.failed-search-text {
  font-size: 4vmin;
  & p:nth-child(2) {
    text-align: center;
  }
}

.failed-search-back-arrow {
  width: 15vmin;
  height: 15vmin;
  transition: all 0.3s ease-in-out;
  &:hover {
    width: 16vmin;
    height: 16vmin;
  }
}
