@import "../../utilities/global-styles";

.contact-form-container {
  margin: 10vmin auto;
  background-color: $grey;
  padding: 2.5vmin;
  display: flex;
  flex-direction: column;
  @media screen and(min-width:768px) {
    width: 70%;
  }
  @media screen and(min-width:1260px) {
    display: grid;
    margin: 15vmin auto;
    flex-direction: row;
    grid-template-areas:
      "details options"
      "requests requests"
      "submit submit";
  }
}

fieldset {
  border: none;
  margin: 5vmin 0;
}

legend {
  @extend %sub-title;
  font-size: 5vmin;
  align-self: center;
  margin: 0 auto 5vmin auto;
}

textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 2vmin;
  font-size: 3vmin;
}

.details {
  grid-area: details;
}
.options {
  grid-area: options;
  margin: 5vmin auto;
}
.requests {
  grid-area: requests;
}
