header {
  display: grid;

  grid-template-areas:
    "hamburger hamburger"
    "logo logo"
    "phone social"
    "mobileNav mobileNav";
  padding: 0 0 5vmin 0;
  justify-content: center;
  @media screen and(min-width: 992px) {
    grid-template-areas: "social logo phone";
    grid-template-columns: 30% 35% 30%;
    padding: 5vmin 0;
  }
}

.hamburger-container {
  grid-area: hamburger;
  justify-self: flex-end;
}
.sebtons-logo-large {
  grid-area: logo;
}

.social-media-container {
  grid-area: social;
  justify-self: center;
  align-items: center;
}

.phone-number-container {
  grid-area: phone;
  justify-self: center;
}
.mobile-nav-container {
  grid-area: mobileNav;
}
