@import "../../utilities/global-styles";

.property-search-form-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
  padding: 3vmin;
  background: #f8fafc;
  box-shadow: $box-shadow;
  @media screen and(min-width:768px) {
    width: 70%;
  }
  @media screen and(min-width:992px) {
    width: 50%;
  }
  @media screen and(min-width:1260px) {
    width: 40%;
  }
}

.property-search-title {
  font-size: 3vmin;
  align-self: center;
  text-align: center;
  width: 50%;
}

.dropdown {
  font-family: "Montserrat", sans-serif;
  width: 80%;
  margin: 0 auto;
  font-size: 2.5vmin;
  border: none;
  background-color: White;
  outline-color: $sebtons-gold;
  border-radius: 0px;
  padding: 2vmin 1vmin;
  @media screen and(min-width:2000px) {
    font-size: 2vmin;
  }
}
