@import "../../utilities/global-styles";

.featured-properties-container {
  position: relative;
  margin: 0 auto;
  padding: 10vmin 0;
  display: grid;
  grid-gap: 15vmin;
  justify-items: center;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white),
      url("../../assets/jpg/properties-bkg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.featured-properties-title {
  @extend %title;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
