@import "../../utilities/global-styles";

.featured-properties-container {
  width: 90%;
  margin: 20vmin auto;
  display: grid;
  grid-gap: 20vmin;
}

.featured-properties-title {
  @extend %title;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.property-cards-layout-container {
  display: grid;
  grid-gap: 20vmin;
  margin: 0 auto;

  @media only screen and (min-width: 1040px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10vmin;
  }
  @media only screen and (min-width: 1260px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10vmin;
  }
}
