@import "../../utilities/global-styles";

.search-results-page-container {
  width: 90%;
  margin: 20vmin auto;
  display: grid;
}

.search-results-title {
  @extend %title;
  width: 70%;
  margin: 0 auto 10vmin auto;
  text-align: center;
}

.failed-search-container {
  margin: 5vmin auto 0vmin auto;
}
